Inlämningsuppgift 1

Krav :
* Skriv ett program som gör om morsekod till engelska
och engelska till morsekod.
* Skriv programmet med minst två klasser:
    * En logikklass - check
    * En klass med en main-metod som också läser in
      text och skriver ut text (som den hämtar ifrån
      logikklasen) - check
* Använd den internationella morsekoden (se slide 4) - check
* Utveckla programmet i TDD och skriv minst 5 JUnit-
testfall. - check

Mer krav:
* Skilj på morsekod genom mellanslag - Check
* Skilj på ord med mellanslag för engelska och
semikolon för morsekod - Check
t.ex. **** * *--- ; **** * *--- = HEJ HEJ
HEJ HEJ = **** * *--- ; **** * *---
* Skapa minst två felhanteringar i systemet som fångar
två saker som användaren kan göra som går utanför
det vanliga användandet av systemet. - Check

Tips:

* In- och utmatningsalternativ är valfritt (Du kan alltså
använda Scanner för att läsa in text och
System.out.println för att skriva ut text)
* Korta och långa signaler kan representeras med t.ex.
stjärna (*) och bindestreck (-)
* F = **-*
* **** * *--- = HEJ
* Representationen av morsekoden kan sparas i vilken
datastruktur du vill, men HashMap brukar vara
enklast
* Metoden split i klassen String kan vara bra att
använda för att dela upp de inlästa tecknen